*{
    
    font-family: 'el messiri', serif;
}

body{
    text-align: center;
    background-color: rgb(138, 219, 244);
}

main{
    margin: 50px;
}

.bigQuotes-container{
    background-color: white;
    margin: 3rem;
}

.header-destination-container{
    display:flex;
    justify-content: center;
}

.header{
    margin: 1rem;
}