*{
    
    font-family: 'el messiri', serif;
}

body{
    text-align: center;
    
    background-image: url('../images/balloons.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin: 50px;
}

.bigQuotes-container{
    margin: 3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigQuotes{
    background-color: white;
    border-radius: 7px;
    opacity: 74%;
    margin: 1rem;
    padding: 2rem;
    width:30rem;
}

.header-destination-container{
    display:flex;
    justify-content: center;
}

.header{
    margin: 2rem;
}

.title{
    margin: 2rem; 
    padding: 0.5rem;
}